extends layout

block content
    div.col-md-12.col-xs-12
        if(article)
            - var id = article.header.articleId
            if(article.header.isTemp)
                - id = 'new'
            if(article.header.derivedFrom)
                - id = article.header.derivedFrom
            p#IDStor #{id}
            form(action="/editor/"+id method="post").col-md-8.col-xs-12#editorForm
                div.form-group.col-md-12.col-xs-12
                    - var title=article.body.title
                    - var content = article.body.content
                    input.col-md-8.col-xs-8.form-control(type="text" name="title" value= title required)#title
                    textarea.col-md-12.col-xs-12.form-control(name="content" style="width:100%;height:55%" required) #{content}
                div.col-md-12.col-xs-12#reCaptchaContainer
                    div.g-recaptcha(data-sitekey="6LedyCwUAAAAADTByE8zQxSiq0ze3sCVnRzmXWWg")
                div.form-group.col-md-12.col-xs-12(style="overflow:hidden")
                    button.btn.btn-primary.col-xs-8.col-md-8.desktop-only(type="submit") Submit Edited by #{user.local.userName}
                    button.btn.btn-primary.col-xs-8.mobile-only(type="submit")#submit Submit
                    div.form-group.col-md-4.col-xs-4.desktop-only
                        if(article.header.isPrivate)
                            input.pull-left.desktop-only(type="checkbox" name="private" value="yes" style="vertical-align:middle" checked)#private
                        else
                            input.pull-left.desktop-only(type="checkbox" name="private" value="yes" style="vertical-align:middle")#private
                        label.desktop-only Set private
                    button.mobile-only.btn.btn-secondary.col-xs-4(type="button" shref="javascript:void(0)")#pvtBtn
                        span.fa.fa-unlock-alt.center-align &nbsp isPrivate
                div.col-md-12.col-xs-12.alert.alert-info#Alert(style="margin-top:-5%")
                    strong Message:
                    | Your edit has been saved
        else
            p#IDStor new
            form(action="/editor/new" method="post").col-md-8.col-xs-12#editorForm
                div.form-group.col-md-12.col-xs-12
                    input.col-md-8.col-xs-8.form-control(type="text" name="title" placeholder="Title:" required)#title
                    textarea.col-md-12.col-xs-12.form-control(name="content" placeholder="Content:" style="width:100%;height:55%" required)
                div.col-md-12.col-xs-12#reCaptchaContainer
                    div.g-recaptcha(data-sitekey="6LedyCwUAAAAADTByE8zQxSiq0ze3sCVnRzmXWWg")
                div.form-group.col-md-12.col-xs-12(style="overflow:hidden")
                    button.btn.btn-primary.col-xs-8.col-md-8.desktop-only(type="submit") Submit Authored by #{user.local.userName}
                    button.btn.btn-primary.col-xs-8.mobile-only(type="submit")#submit Submit
                    div.form-group.col-md-4.col-xs-4.desktop-only
                        input.pull-left.desktop-only(type="checkbox" name="private" value="yes" style="vertical-align:middle")#private
                        label.desktop-only Set private
                    button.mobile-only.btn.btn-secondary.col-xs-4(type="button" href="javascript:void(0)")#pvtBtn
                        span.fa.fa-unlock-alt.center-align &nbsp isPrivate
                div.col-md-12.col-xs-12.alert.alert-info#Alert(style="margin-top:-5%")
                    strong Message:
                    | Your edit has been saved
        label.text-center.col-xs-12.mobile-only Preview
        div.col-md-4.col-xs-12#Preview
    script(src="/scripts/marked.js")
    
    script.
        function preview(){
            document.getElementById('Preview').innerHTML = marked($('textarea').val())
            $('#Preview').find('img').addClass('img-responsive')
        }
        function setHeight(){
            $('textarea').css('height',window.innerHeight*0.55)
            $('#Preview').css('height',window.innerHeight*0.65)
            $('#pvtBtn').css('height',$('#submit').innerHeight())
            if($('#private').prop('checked')){
                $('#pvtBtn').toggleClass('btn-secondary btn-success')
                $('#pvtBtn > span').toggleClass('fa-unlock-alt fa-lock')            
            }
        }
        function setPrivate(){
            if($('#private').prop('checked')){
                $('#private').prop('checked',false)
            }else{
                $('#private').prop('checked',true)
            }
        }
        $(document).ready(()=>{
            setHeight()
            preview()
            $('#Alert').hide()
            $('#IDStor').hide()
            setInterval(autoSave,60000)
        })
        $(window).resize(()=>{
            setHeight();
        })
        $('textarea').on('input',(e)=>{
            preview()
        })
        $('#pvtBtn').click(()=>{
            setPrivate()
            $('#pvtBtn').toggleClass('btn-secondary btn-success')
            $('#pvtBtn > span').toggleClass('fa-unlock-alt fa-lock')            
        })
        function autoSave(){
            $.ajax({
                url:"/editor/autoSave?derive="+$('#IDStor').text().trim(),
                type:"POST",
                data:$('#editorForm').serialize(),
                success: ()=>{
                    $('#Alert').show()
                    setTimeout(()=>{$('#Alert').hide()},5000)
                }
            })
        }
        
            

